{% extends "webpage.html" %}

{% block content %}
<title>{{ current_user.username }}'s Profile</title>
{% include "mood.html" %}

<div class="row">
    <div class="col">
        <h1> Posts <small class="float-right">{{ posts|length }} posts</small></h1>
        {% for post in posts %}
            <div class="media-body">
            <a href="{{ url_for('post_detail', post_id=post.id) }}">
                <h3>{{ post.title }}</h3>
            </a>
            <span class="float-right">
                <small>{{ post.date }}</small>
            </span>

            <p>
                {{ post.content }}
            </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}