{% extends "webpage.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="media-body">
            <a href="{{ url_for('post_detail', post_id=post.id) }}">
                <h3>{{ post.title }}</h3>
            </a>
            <a href="{{ url_for('user_detail', user_id=post.user.id) }}">{{ post.user.username }}</a>
            <span class="float-right">
                <small>{{ post.date }}</small>
            </span>
            <p>
                {{ post.content }}
            </p>
        </div>
    </div>
</div>
{% endblock %}