<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link href = "C:\Users\jenny\Desktop\technica 2021\webpage.css" rel = "stylesheet" type = "text/css"> 
</head>

<body>
    <h1>Super Cool Webpage Name</h1>
    <p>Insert motivational quote here</p>

    <aside> 
        <div class="navbar">
            <a href="#">Link to Home</a> <br>
            <a href="#">Link to Feed</a> <br> 
            <a href="#">Link to Chat</a> <br> 
            <a href="#" class="right">Link to Profile</a>
        </div>
    </aside>
</body>
</html> 