<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='webpage.css') }}">
</head>

<body>
    <h1>Super Cool Webpage Name</h1>
    <p>Insert motivational quote here</p>

    <aside> 
        <div class="navbar">
            <a href="{{ url_for('index') }}">Link to Home</a> <br>
            <a href="#">Link to Feed</a> <br> 
            <a href="">Link to Chat</a> <br> 
            {% if current_user.is_authenticated %}
            <a href="#" class="right">Account</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a> <br>
            <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </aside>
</body>
</html> 